{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="bar">
      <div class="row">
        <div class="six columns">
          <input type="text" name="filter">
        </div>
      </div>
    </div>
    <div class="feed">
      <div class="row th">
        <div class="one columns">
          <a href="?sort=date&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">@{% if query.sort == 'date' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="three columns">
          <a href="?sort=email&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">User{% if query.sort == 'email' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="eight columns">
          <a href="?sort=event&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Action{% if query.sort == 'event' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
      </div>
      {% for event in data %}
      <div class="row">
        <div class="one columns" title="{{ event.date | date: "%a, %b %d, %y" }}">
          {{ event.timeago }}
        </div>
        <div class="three columns">
          <a href="/users/{{ event.email }}">{{ event.email }}</a>
        </div>
        <div class="one columns">
          {% if event.event == 'clicked' %}
            <span class="tag green">{{ event.event }}</span>
          {% elsif event.event == 'opened' %}
            <span class="tag yellow">{{ event.event }}</span>
          {% elsif event.event == 'dropped' %}
            <span class="tag red">{{ event.event }}</span>
          {% elsif event.event == 'bounced' %}
            <span class="tag red">{{ event.event }}</span>
          {% else %}
            <span class="tag">{{ event.event }}</span>
          {% endif %}
        </div>
        <div class="seven columns">
          {% if event.event == 'clicked' %}
            <a href="/links/{{ event.url }}">{{ event.url }}</a> <a href="{{ event.url }}"><i class="icon-open fade"></i></a>
          {% elsif event.event == 'opened' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'delivered' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'dropped' %}
            {{ event.description }}
          {% elsif event.event == 'bounced' %}
            {{ event.description }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>


</body>
</html>
