{% assign _css = '<link rel="stylesheet" href="css/chosen.min.css">' %}
{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="bar">
      <div class="row">
        <div class="six columns">
          <form>
          <select name="filter[]" data-placeholder="Action Filter" multiple="" style="width:80%">
            <option value="opened"{% if filter contains 'opened' %} selected{% endif %}>Opened</option>
            <option value="delivered"{% if filter contains 'delivered' %} selected{% endif %}>Delivered</option>
            <option value="bounced"{% if filter contains 'bounced' %} selected{% endif %}>Bounced</option>
            <option value="clicked"{% if filter contains 'clicked' %} selected{% endif %}>Clicked</option>
          </select>
          <button class="button button-primary" type="submit" style="padding:7px 10px;height:auto;line-height:normal"><i class="icon-menu"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="feed">
      <div class="row th">
        <div class="one columns">
          <a href="?sort=date&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if filter %}&filter[]={{ filter | join: '&filter[]=' }}{% endif %}">@{% if query.sort == 'date' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="three columns">
          <a href="?sort=email&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if filter %}&filter[]={{ filter | join: '&filter[]=' }}{% endif %}">User{% if query.sort == 'email' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="eight columns">
          <a href="?sort=event&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if filter %}&filter[]={{ filter | join: '&filter[]=' }}{% endif %}">Action{% if query.sort == 'event' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
      </div>
      {% for event in data.data %}
      <div class="row">
        <div class="one columns" title="{{ event.date | date: "%a, %b %d, %y" }}">
          {{ event.timeago }}
        </div>
        <div class="three columns">
          <a href="/users/{{ event.email }}">{{ event.email }}</a>
        </div>
        <div class="one columns">
          {% if event.event == 'clicked' %}
            <span class="tag green">{{ event.event }}</span>
          {% elsif event.event == 'opened' %}
            <span class="tag yellow">{{ event.event }}</span>
          {% elsif event.event == 'dropped' %}
            <span class="tag red">{{ event.event }}</span>
          {% elsif event.event == 'bounced' %}
            <span class="tag red">{{ event.event }}</span>
          {% else %}
            <span class="tag">{{ event.event }}</span>
          {% endif %}
        </div>
        <div class="seven columns">
          {% if event.event == 'clicked' %}
            <a href="/links/{{ event.url }}">{{ event.url }}</a> <a href="{{ event.url }}"><i class="icon-open fade"></i></a>
          {% elsif event.event == 'opened' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'delivered' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'dropped' %}
            {{ event.description }}
          {% elsif event.event == 'bounced' %}
            {{ event.description }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% assign next = data.offset | plus: data.count %}
    {% assign prev = data.offset | minus: data.count %}
    {% capture q %}?{% if query.sort %}&sort={{ query.sort }}{% endif %}{% if query.dir %}&dir={{ query.dir }}{% endif %}{% if filter %}&filter[]={{ filter | join: '&filter[]=' }}{% endif %}{% endcapture %}
    <p class="pagination">{% if data.offset > 0 %}<a href="{{ q }}{% if prev > 0 %}&offset={{ prev }}{% endif %}" class="button button-primary">Prev</a>{% endif %}{% if next < data.total %}<a href="{{ q }}&offset={{ data.offset | plus: data.count }}" class="button button-primary">Next</a>{% endif %}</p>
  </div>
</section>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/chosen.jquery.min.js"></script>
<script type="text/javascript">
  $("select[name^=filter]").chosen();
</script>
{% include 'partials/footer' %}
