{% assign _css = '<link rel="stylesheet" href="/css/chosen.min.css"><link rel="stylesheet" href="/css/daterangepicker.min.css">' %}
{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="bar">
      <div class="row">
        <div class="twelve columns">
          <form>
            Filter: <select name="action[]" data-placeholder="All Actions" multiple="" style="width:40%">
              <option value="opened"{% if action contains 'opened' %} selected{% endif %}>Opened</option>
              <option value="delivered"{% if action contains 'delivered' %} selected{% endif %}>Delivered</option>
              <option value="clicked"{% if action contains 'clicked' %} selected{% endif %}>Clicked</option>
              <option value="bounced"{% if action contains 'bounced' %} selected{% endif %}>Bounced</option>
              <option value="dropped"{% if action contains 'dropped' %} selected{% endif %}>Dropped</option>
            </select> <input type="text" value="{{ date }}" name="date" value="" style="height:auto;top:1px;position:relative;" placeholder="All Time">
            <button class="button button-primary" type="submit" style="padding:7px 10px;height:auto;line-height:normal"><i class="icon-menu"></i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="feed">
      <div class="row th">
        <div class="one columns">
          <a href="?sort=date&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if action %}&action[]={{ action | join: '&action[]=' }}{% endif %}{% if date %}&date={{ date }}{% endif %}">@{% if query.sort == 'date' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="three columns">
          <a href="?sort=email&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if action %}&action[]={{ action | join: '&action[]=' }}{% endif %}{% if date %}&date={{ date }}{% endif %}">User{% if query.sort == 'email' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="eight columns">
          <a href="?sort=event&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}{% if action %}&action[]={{ action | join: '&action[]=' }}{% endif %}{% if date %}&date={{ date }}{% endif %}">Action{% if query.sort == 'event' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
      </div>
      {% for event in data.data %}
      <div class="row">
        <div class="one columns" title="{{ event.date | date: "%a, %b %d, %y" }}">
          {{ event.timeago }}
        </div>
        <div class="three columns">
          <a href="/users/{{ event.email }}">{{ event.email }}</a>
        </div>
        <div class="one columns">
          {% if event.event == 'clicked' %}
            <span class="tag green">{{ event.event }}</span>
          {% elsif event.event == 'opened' %}
            <span class="tag yellow">{{ event.event }}</span>
          {% elsif event.event == 'dropped' %}
            <span class="tag red">{{ event.event }}</span>
          {% elsif event.event == 'bounced' %}
            <span class="tag pink">{{ event.event }}</span>
          {% else %}
            <span class="tag">{{ event.event }}</span>
          {% endif %}
        </div>
        <div class="seven columns">
          {% if event.event == 'clicked' %}
            <a href="{{ event.url }}" class="break-words">{{ event.url }}</a> <a href="{{ event.url }}"><i class="icon-open fade"></i></a>
          {% elsif event.event == 'opened' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'delivered' %}
            <a href="/mails/{{ event.msg_id }}">{% if event.subject %}{{ event.subject }}{% else %}{{ event.msg_id }}{% endif %}</a>
          {% elsif event.event == 'dropped' %}
              {{ event.description }}
          {% elsif event.event == 'bounced' %}
            {{ event.error }}
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    {% assign next = data.offset | plus: data.count %}
    {% assign prev = data.offset | minus: data.limit %}
    {% capture q %}?{{ query | remove: 'offset,action,date' }}{% if action %}&action[]={{ action | join: '&action[]=' }}{% endif %}{% if date %}&date={{ date }}{% endif %}{% endcapture %}
    <p class="right top-20">{{ data.offset | plus: 1 }} to {{ next }} of {{ data.total }}</p>
    <p class="pagination">{% if data.offset > 0 %}<a href="{{ q }}{% if prev > 0 %}&offset={{ prev }}{% endif %}" class="button button-primary">Prev</a>{% endif %}{% if next < data.total %}<a href="{{ q }}&offset={{ data.offset | plus: data.count }}" class="button button-primary">Next</a>{% endif %}</p>
  </div>
</section>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/moment.min.js"></script>
<script type="text/javascript" src="/js/jquery.daterangepicker.min.js"></script>
<script type="text/javascript" src="/js/chosen.jquery.min.js"></script>
<script type="text/javascript">
  $('input[name=date]').dateRangePicker({
    endDate: new Date()
  });
  $("select[name^=action]").chosen();
</script>
{% include 'partials/footer' %}
