{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    <div class="row pad-btm">
      <div class="eight columns">
       <a href="/mails">Mails</a> <i class="icon-fast-forward"></i> <strong>{{ data.subject }}</strong>
      </div>
      <div class="two columns align-right">
        {{ data.opens }} opens<br>({{ data.unique_opens}} unique)
      </div>
      <div class="two columns align-right">
        {{ data.clicks }} clicks
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="feed">
          {% for log in data.logs %}
            <div class="row">
              <div class="one columns">
               {{ log.timeago }}
              </div>
              <div class="two columns">
                {% if log.event == 'clicked' %}
                  <span class="tag green">{{ log.event }}</span>
                {% elsif log.event == 'opened' %}
                  <span class="tag yellow">{{ log.event }}</span>
                {% elsif log.event == 'dropped' %}
                  <span class="tag red">{{ event.event }}</span>
                {% elsif log.event == 'bounced' %}
                  <span class="tag red">{{ log.event }}</span>
                {% else %}
                  <span class="tag">{{ log.event }}</span>
                {% endif %}
              </div>
              <div class="three columns">
                {{ log.email }}
              </div>
              <div class="six columns">
                {% if log.event == 'clicked' %}
                  <p><a href="{{ log.url }}">{{ log.url }}</a></p>
                {% endif %}
                {% if log.event == 'opened' %}
                  <p class="fade">{{ log.client }} on {{ log.os }} ({{ log.platform }}){%if log.city != 'Unknown' %}, {{ log.city }}{% endif %}{%if log.country != 'Unknown' %}, {{ log.country }}{% endif %}</p>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

</body>
</html>
