{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    <div class="row pad-btm">
      <div class="six columns">
        <h5>{{ data.subject }}</h5>
        <small><a href="#" class="small-button view">view mail</a></small>
      </div>
      {% assign or = data.unique_opens | times: 100 | divided_by: data.deliveries %}
      {% assign ctr = data.unique_clicks | times: 100 | divided_by: data.opens %}
      <div class="six columns">
        <div class="row grid">
          <div class="three columns">
            deliveries <h5 class="inline">{{ data.deliveries }}</h5><br>
            <span>&nbsp;</span>
          </div>
          <div class="five columns">
            opens <h5 class="inline">{{ data.opens }}</h5><br>
            <span class="fade">{{ data.unique_opens }} unique, {{ or }}% open rate</span>
          </div>
          <div class="four columns">
            clicks <h5 class="inline">{{ data.clicks }}</h5><br>
            <span class="fade">{{ data.unique_clicks }} unique, {{ ctr }}% CTR</span>
          </div>
        </div>
      </div>
    </div>
    <!--div class="row pad-btm grid">
      <div class="two columns">
        <h5>{{ data.deliveries }}</h5>
        Deliveries
      </div>
      <div class="four columns">
        Opens
        <h5>{{ data.opens }} </h5>
        <p>(<strong>{{ data.unique_opens }}</strong> unique)</p>
        <p>(<strong>{{ data.unique_opens }}</strong> open rate)</p>
      </div>
      <div class="four columns">
        Clicks
        <h5>{{ data.clicks }}</h5>
        <p>(<strong>{{ data.unique_clicks }}</strong> unique)</p>
        <p>(<strong>{{ data.unique_clicks }}</strong> CTR)</p>
      </div>
    </div-->
    <div class="row">
      <div class="twelve columns">
        <div class="feed">
          {% for log in data.logs %}
            <div class="row">
              <div class="one columns">
               {{ log.timeago }}
              </div>
              <div class="two columns">
                {% if log.event == 'clicked' %}
                  <span class="tag green">{{ log.event }}</span>
                {% elsif log.event == 'opened' %}
                  <span class="tag yellow">{{ log.event }}</span>
                {% elsif log.event == 'bounced' %}
                  <span class="tag pink">{{ log.event }}</span>
                {% elsif log.event == 'dropped' %}
                  <span class="tag red">{{ log.event }}</span>
                {% else %}
                  <span class="tag">{{ log.event }}</span>
                {% endif %}
              </div>
              <div class="three columns">
                <a href="/users/{{ log.email }}">{{ log.email }}</a>
              </div>
              <div class="six columns">
                {% if log.event == 'clicked' %}
                  <a href="{{ log.url | url_encode }}" class="break-words">{{ log.url }}</a> <a href="{{ log.url }}" target="_blank" rel="noopener noreferrer"><i class="icon-open fade"></i></a>
                {% elsif log.event == 'opened' %}
                  <span class="fade">{{ log.client }} on {{ log.os }} ({{ log.platform }}){%if log.city != 'Unknown' %}, {{ log.city }}{% endif %}{%if log.country != 'Unknown' %}, {{ log.country }}{% endif %}</span>
                {% elsif log.event == 'bounced' %}
                  {{ log.error }}
                {% elsif log.event == 'dropped' %}
                  {{ log.description }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal hide">
  <a href="#" class="close">Close <i class="icon-cross"></i></a>
  <iframe width="100%" height="100%" frameborder="0" sandbox="allow-same-origin allow-popups allow-scripts"></iframe>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
var iFrameDoc = $('iframe')[0].contentDocument || $('iframe')[0].contentWindow.document;
iFrameDoc.write(`<base target="_blank">{{ data.body }}`); // todo: escape ` and $
iFrameDoc.close();
$('.view, .close').on('click', function() {
  $('.modal').toggleClass('hide');
  return false;
});
$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    if (!$('.modal').hasClass('hide'))
      $('.modal').toggleClass('hide');
  }
});
</script>

{% include 'partials/footer' %}
