{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="feed">
      <div class="row th">
        <div class="one columns" >
          <a href="?sort=date">@ <i class="icon-arrow-down"></i></a>
        </div>
        <div class="seven columns">
          Mail
        </div>
        <div class="four columns">
          <div class="row">
            <div class="four columns center" >
              <a href="?sort=delivered">Deliveries</a>
            </div>
            <div class="four columns center" >
              <a href="?sort=opened">Opens</a>
            </div>
            <div class="four columns center" >
              <a href="?sort=clicked">Clicks</a>
            </div>
          </div>
        </div>
      </div>
      {% for mail in data %}
      <div class="row">
        <div class="one columns" >
          {{ mail.timeago }}
        </div>
        <div class="seven columns">
          <a href="/mails/{{ mail._id }}">{{ mail.subject }}</a>
        </div>
        <div class="four columns">
          <div class="row">
            <div class="four columns center" >
              <a href="">{{ mail.delivered }}{% if mail.failed %} <span class="fade">({{ mail.failed }})</span>{% endif %}</a>
            </div>
            <div class="four columns center" >
              <a href="">{{ mail.opened }}</a>
            </div>
            <div class="four columns center" >
              <a href="">{{ mail.clicked }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% include 'partials/footer' %}
