{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    <div class="row pad-btm">
      <h5>{{ data.subject }}</h5>
      <small><a href="#" class="small-button view">view mail</a></small>
    </div>
    <div class="row pad-btm grid">
      <div class="three columns">
        Deliveries: {{ data.deliveries }}
      </div>
      <div class="three columns">
        Opens: {{ data.opens }}
      </div>
      <div class="three columns">
        Unique opens: {{ data.unique_opens }}
      </div>
      <div class="three columns">
        Clicks: {{ data.clicks }}
      </div>
    </div>
    <div class="row">
      <div class="twelve columns">
        <div class="feed">
          {% for log in data.logs %}
            <div class="row">
              <div class="one columns">
               {{ log.timeago }}
              </div>
              <div class="two columns">
                {% if log.event == 'clicked' %}
                  <span class="tag green">{{ log.event }}</span>
                {% elsif log.event == 'opened' %}
                  <span class="tag yellow">{{ log.event }}</span>
                {% elsif log.event == 'bounced' %}
                  <span class="tag pink">{{ log.event }}</span>
                {% elsif log.event == 'dropped' %}
                  <span class="tag red">{{ log.event }}</span>
                {% else %}
                  <span class="tag">{{ log.event }}</span>
                {% endif %}
              </div>
              <div class="three columns">
                <a href="/users/{{ log.email }}">{{ log.email }}</a>
              </div>
              <div class="six columns">
                {% if log.event == 'clicked' %}
                  <a href="{{ log.url }}" class="break-words">{{ log.url }}</a>
                {% elsif log.event == 'opened' %}
                  <span class="fade">{{ log.client }} on {{ log.os }} ({{ log.platform }}){%if log.city != 'Unknown' %}, {{ log.city }}{% endif %}{%if log.country != 'Unknown' %}, {{ log.country }}{% endif %}</span>
                {% elsif log.event == 'bounced' %}
                  {{ log.error }}
                {% elsif log.event == 'dropped' %}
                  {{ log.description }}
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal hide">
  <a href="#" class="close"><i class="icon-cross"></i></a>
  <iframe width="100%" height="100%" frameborder="0" sandbox="allow-same-origin allow-popups allow-scripts"></iframe>
</div>
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript">
var iFrameDoc = $('iframe')[0].contentDocument || $('iframe')[0].contentWindow.document;
iFrameDoc.write(`<base target="_blank">{{ data.body }}`); // todo: escape ` and $
iFrameDoc.close();
$('.view, .close').on('click', function() {
  $('.modal').toggleClass('hide');
  return false;
});
$(document).keyup(function(e) {
  if (e.keyCode == 27) {
    if (!$('.modal').hasClass('hide'))
      $('.modal').toggleClass('hide');
  }
});
</script>

{% include 'partials/footer' %}
