{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="feed">
      <div class="row th">
        <div class="one columns" >
          <a href="?sort=date">@ <i class="icon-arrow-down"></i></a>
        </div>
        <div class="eight columns">
          Mail
        </div>
        <div class="three columns">
          <div class="row">
            <div class="six columns center" >
              <a href="?sort=opened">Opens</a>
            </div>
            <div class="six columns center" >
              <a href="?sort=clicked">Clicks</a>
            </div>
          </div>
        </div>
      </div>
      {% for mail in data.data %}
      <div class="row">
        <div class="one columns" >
          {{ mail.timeago }}
        </div>
        <div class="eight columns">
          <a href="/mails/{{ mail.msg_id }}">{{ mail.subject }}</a>
        </div>
        <div class="three columns">
          <div class="row">
            <div class="six columns center" >
              <a href="">{{ mail.opened }}{% if mail.failed %} <span class="fade">({{ mail.failed }})</span>{% endif %}</a>
            </div>
            <div class="six columns center" >
              <a href="">{{ mail.clicked }}</a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% assign next = data.offset | plus: data.count %}
    {% assign prev = data.offset | minus: data.count %}
    {% assign q = query | remove: 'offset' %}
    <p class="right top-20">{{ data.offset | plus: 1 }} to {{ next }} of {{ data.total }}</p>
    <p class="pagination">{% if data.offset > 0 %}<a href="?{{ q }}{% if prev > 0 %}&offset={{ prev }}{% endif %}" class="button button-primary">Prev</a>{% endif %}{% if next < data.total %}<a href="?{{ q }}&offset={{ data.offset | plus: data.count }}" class="button button-primary">Next</a>{% endif %}</p>
  </div>
</section>

{% include 'partials/footer' %}
