{% assign _css = '<link rel="stylesheet" href="/css/tooltipster.bundle.min.css">' %}
{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    {% if error %}<p class="error center">{{ error }}</p>{% endif %}
    {% if info %}<p class="info center">{{ info }}</p>{% endif %}
    <div class="row">
      <div class="four columns offset-by-one">
        <div class="box">
          <h5>Update Email</h5>
          <form method="post">
            <p><input type="email" name="email" placeholder="Email" value="{{acc_email}}" class="u-full-width"></p>
            <p><button class="button button-primary u-full-width">Update</button></p>
          </form>
        </div>
        <div class="box">
          <h5>Update Password</h5>
          <form method="post">
            <p><input type="password" name="password" placeholder="Current password" class="u-full-width"></p>
            <p><input type="password" name="new_password" placeholder="New password" class="u-full-width"></p>
            <p><button class="button button-primary u-full-width">Update</button></p>
          </form>
        </div>
      </div>
      <div class="six columns">
        <div class="row">
          <div class="box">
            <h5>Add New Domains</h5>
            <p>Add a new Mailgun API key to add new domains to your account.</p>
            <form method="post" action="/add-key">
              <p><input type="text" name="key" placeholder="API key" class="u-full-width"></p>
              <p><button class="button button-primary u-full-width" type="submit">Get Domains</button></p>
            </form>
          </div>
          <div class="box">
            <h5>Delete Account</h5>
            <p>This is not a recoverable action. All data related to the profile&mdash;domains, data and profile will be deleted. Be sure you really want to do this before you continue.</p>
            <input type="hidden" name="delete" value="{{acc_id}}">
            <p><button class="button u-full-width tooltip" data-tooltip-content="#del_tooltip" type="button">Delete</button></p>
            <div class="tooltip_templates">
              <span id="del_tooltip">
                <form method="post">
                  <input type="hidden" name="delete" value="{{acc_id}}">
                  <button class="button button-delete u-full-width" type="submit">Confirm Delete Action</button>
                </form>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tooltipster.bundle.min.js"></script>
<script type="text/javascript">
  $('.tooltip').tooltipster({
     animation: 'fade',
     delay: 200,
     interactive: true,
     maxWidth: 350,
     //theme: 'tooltipster-punk',
     trigger: 'click'
  });
</script>
{% include 'partials/footer' %}
