{% assign _css = '<link rel="stylesheet" href="/css/tooltipster.bundle.min.css">' %}
{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    {% if error %}<p class="error center">{{ error }}</p>{% endif %}
    {% if info %}<p class="info center">{{ info }}</p>{% endif %}
    <div class="row">
      <div class="five columns offset-by-one">
        <div class="box">
          <h5>Connect Slack</h5>
          <p>Get bounce and failure deliveries sent to your Slack account</p>
          {% if domain.slack.team %}
          <p><a href="disconnect/slack" onclick="return confirm('Disconnect from this Slack team?')" class="button button-secondary">Connected to <strong class="red">{{domain.slack.team}}</strong>. Disconnect</a></p>
          {% else %}
          <p><a href="https://slack.com/oauth/authorize?scope=incoming-webhook&client_id={{client_id}}&redirect_uri={{host}}/connect/slack"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a></p>
          {% endif %}
        </div>
      </div>
      <div class="five columns">
        {% if domain.owner == acc_id %}
        <div class="box">
          <h5>Team</h5>
          <form method="post" class="bb">
            <div class="row">
              <input type="text" name="invite_email" class="eight columns" placeholder="Email">
              <button class="button button-primary four columns" style="padding:0">Invite</button>
            </div>
            <!--p class="fade"><small>Only admin will have access to domain settings. User can view email content, follower can't.</small></p-->
          </form>
          {% for user in domain.users %}
          <div class="row">
            <div class="ten columns">
              <p>{{ user.email }}{% if user.email == acc_email %} <span class="fade">(you)</span>{% endif %}</p>
            </div>
            <div class="two columns align-right">
              {% if user.email == acc_email %}{% else %}<p><a href="?remove={{ user.id }}" class="remove"><i class="icon-cross"></i></a></p>{% endif %}
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="box">
          <h5>Remove Domain from Suet</h5>
          <p>This will remove all data related to the domain from Suet. The domain will also stop receiving events from Mailgun. Be sure you really want to do this before you continue.</p>
          <input type="hidden" name="delete" value="{{acc_id}}">
          <p><button class="button u-full-width tooltip" data-tooltip-content="#del_tooltip" type="button">Remove</button></p>
          <div class="tooltip_templates">
            <span id="del_tooltip">
              <form method="post">
                <input type="hidden" name="delete" value="{{acc_id}}">
                <button class="button button-delete u-full-width" type="submit">Confirm Remove Action</button>
              </form>
            </span>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/tooltipster.bundle.min.js"></script>
<script type="text/javascript">
  $('.remove').on('click', function(){
    return confirm('Remove this user from the domain?');
  });

  $('.tooltip').tooltipster({
     animation: 'fade',
     delay: 200,
     interactive: true,
     maxWidth: 350,
     //theme: 'tooltipster-punk',
     trigger: 'click'
  });

</script>

{% include 'partials/footer' %}
