{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="feed">
      <div class="row th">
        <div class="two columns" >
          <a href="?sort=last_seen&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Interaction {% if query.sort == 'last_seen' %}<i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="four columns" >
          <a href="?sort=email">Email</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=delivered">Deliveries (Bounced)</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=opened">Opens (Unique)</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=clicked">Clicks (Unique)</a>
        </div>
      </div>
      {% for event in data %}
      <div class="row">
        <div class="two columns" title="{{ event.last_seen | date: "%a, %b %d, %y" }}">
          {{ event.timeago }}
        </div>
        <div class="four columns">
          <a href="/users/{{ event.email }}">{{ event.email }}</a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.delivered }} <span class="fade"></span></a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.opened }}{% if event.unique_opens %} <span class="fade">({{ event.unique_opens }})</span>{% endif %}</a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.clicked }}{% if event.unique_clicks %} <span class="fade">({{ event.unique_clicks }})</span>{% endif %}</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

</body>
</html>
