{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <div class="feed">
      <div class="row th">
        <div class="two columns" >
          <a href="?sort=last_seen&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Interaction{% if query.sort == 'last_seen' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="four columns" >
          <a href="?sort=email&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Email{% if query.sort == 'email' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=delivered&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Deliveries<br><span class="fade">(Bounced)</span>{% if query.sort == 'delivered' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=opened&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Opens<br><span class="fade">(Unique)</span>{% if query.sort == 'opened' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
        <div class="two columns center" >
          <a href="?sort=clicked&dir={% if query.dir == 'desc' %}asc{% else %}desc{% endif %}">Clicks<br><span class="fade">(Unique)</span>{% if query.sort == 'clicked' %} <i class="icon-arrow-{% if query.dir == 'asc' %}up{% else %}down{% endif %}"></i>{% endif %}</a>
        </div>
      </div>
      {% for event in data.data %}
      <div class="row">
        <div class="two columns" title="{{ event.last_seen | date: "%a, %b %d, %y" }}">
          {{ event.timeago }}
        </div>
        <div class="four columns">
          <a href="/users/{{ event.email }}">{{ event.email }}</a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.delivered }} <span class="fade"></span></a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.opened }}{% if event.unique_opens %} <span class="fade">({{ event.unique_opens }})</span>{% endif %}</a>
        </div>
        <div class="two columns center" >
          <a href="/users/{{ event.email }}">{{ event.clicked }}{% if event.unique_clicks %} <span class="fade">({{ event.unique_clicks }})</span>{% endif %}</a>
        </div>
      </div>
      {% endfor %}
    </div>
    {% assign next = data.offset | plus: data.count %}
    {% assign prev = data.offset | minus: data.count %}
    {% assign q = query | remove: 'offset' %}
    <p class="right top-20">{{ data.offset | plus: 1 }} to {{ next }} of {{ data.total }}</p>
    <p class="pagination">{% if data.offset > 0 %}<a href="?{{ q }}{% if prev > 0 %}&offset={{ prev }}{% endif %}" class="button button-primary">Prev</a>{% endif %}{% if next < data.total %}<a href="?{{ q }}&offset={{ data.offset | plus: data.count }}" class="button button-primary">Next</a>{% endif %}</p>
  </div>
</section>

{% include 'partials/footer' %}
