{% include 'partials/header-dashboard' %}

<section>
  <div class="container">
    <!--
      Country
      Device OS
      Clients
      Platform (mobile/desktop~)
      Top clicks
      Top opens
      Time graph of engagement
    -->
    <div class="row pad-btm">
      <div class="five columns">
       <a href="/users">Users</a> <i class="icon-fast-forward"></i> <strong>{{ data.email }}</strong>
      </div>
      <div class="three columns align-right">
        {{ data.opens }} opens ({{ data.unique_opens}} unique)
      </div>
      <div class="two columns">
        {{ data.clicks }} clicks
      </div>
      <div class="two columns">
        {{ data.deliveries }} deliveries
      </div>
    </div>
    <div class="row">
      <div class="eight columns">
        <div class="feed">
          {% for log in data.logs %}
            <div class="row">
              <div class="one columns">
               {{ log.timeago }}
              </div>
              <div class="eleven columns">
                {% if log.event == 'clicked' %}
                  <span class="tag green">{{ log.event }}</span>
                {% elsif log.event == 'opened' %}
                  <span class="tag yellow">{{ log.event }}</span>
                {% elsif log.event == 'dropped' %}
                  <span class="tag red">{{ event.event }}</span>
                {% elsif log.event == 'bounced' %}
                  <span class="tag red">{{ log.event }}</span>
                {% else %}
                  <span class="tag">{{ log.event }}</span>
                {% endif %}<br>
                {% if log.event == 'clicked' %}
                  <a href="{{ log.url }}">{{ log.url }}</a><br>
                  <small><a href="/mails/{{ log.msg_id }}" class="fade">{{ log.subject }}</a></small>
                {% elsif log.event == 'opened' %}
                  <a href="/mails/{{ log.msg_id }}">{{ log.subject }}</a><br>
                  <small class="fade">{{ log.client }} on {{ log.os }} ({{ log.platform }}){%if log.city != 'Unknown' %}, {{ log.city }}{% endif %}{%if log.country != 'Unknown' %}, {{ log.country }}{% endif %}</small>
                {% else %}
                  <a href="/mails/{{ log.msg_id }}">{{ log.subject }}</a>
                {% endif %}
              </div>
            </div>
          {% endfor %}
        </div>
        </div>
      <div class="four columns">
        <p><strong>Clicks</strong></p>
        <ul class="list">
          {% for url in data.urls %}
            <li><a href="{{ url }}">{{ url }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</section>

</body>
</html>
