<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css?13072016">
  <link rel="stylesheet" href="/css/feather.css">
  {{ _css }}

</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="five columns">
        {% if acc_active_domain %}
        <ul>
          <li><a href="/dashboard"{% if page == 'dashboard' %} class="active"{% endif %}>Dashboard</a></li>
          <li><a href="/feed"{% if page == 'feed' %} class="active"{% endif %}>Feed</a></li>
          <li><a href="/mails"{% if page == 'mails' %} class="active"{% endif %}>Mails</a></li>
          <li><a href="/users"{% if page == 'users' %} class="active"{% endif %}>Users</a></li>
        </ul>
        {% else %}&nbsp;
        {% endif %}
      </div>
      <div class="two columns">
        <span class="headway" style="position:absolute"></span>
        <h5 class="center"><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
      </div>
      <div class="five columns align-right">
        {% if acc_active_domain %}
        <ul>
          <li class="has-sub">
            <a href=""><strong>{{ acc_active_domain }}</strong> <i class="icon-head"></i></a>
            <ul class="subnav">
              {% for domain in acc_domains %}
              {% if domain != acc_active_domain %}
              <li><a href="/switch/{{ domain }}"><strong>{{ domain }}</strong></a></li>
              {% endif %}
              {% endfor %}
              <li class="separator"></li>
              <li><a href="/settings">Domain Settings</a></li>
              <li><a href="/profile">Profile Settings</a></li>
              <li><a href="/logout">Logout</a></li>
          </li>
        </ul>
        {% endif %}
      </div>

    </div>
  </div>
</header>
