<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <title>{{ title }}</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="//fonts.googleapis.com/css?family=Rubik:400,500" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">
  <link rel="stylesheet" href="/css/style.css?01022019">
  <link rel="stylesheet" href="/css/feather.css">
  <link rel="icon" href="/favicon.ico">
  {{ _css }}

</head>
<body>

<header>
  <div class="container">
    <div class="row">
      <div class="one columns">
        <span class="headway" style="position:absolute;left:24px"></span>
        <h5><a href="/"><i class="icon-bar-graph-2"></i></a></h5>
      </div>
      <div class="nine columns">
        {% if acc_active_domain %}
        <ul class="left">
          <li><a href="/dashboard"{% if page == 'dashboard' %} class="active"{% endif %}>Dashboard</a></li>
          <li><a href="/feed"{% if page == 'feed' %} class="active"{% endif %}>Feed</a></li>
          <li><a href="/tags"{% if page == 'tags' %} class="active"{% endif %}>Tags</a></li>
          <li><a href="/mails"{% if page == 'mails' %} class="active"{% endif %}>Mails</a></li>
          <li class="has-sub">
            <a href="/users"{% if page == 'users' %} class="active"{% endif %}>Users</a>
            <ul class="subnav">
              <li><a href="/users">All Users</a></li>
              <li><a href="/users/cold">Cold Subscribers</a></li>
            </ul>
          </li>
          <li><a href="/links"{% if page == 'links' %} class="active"{% endif %}>Links</a></li>
        </ul>
        <div class="left search">
          <form method="get" action="/search"><input type="text" placeholder="Search" name="q" value="{{q}}"> <button type="submit"><i class="icon-search"></i></button></form>
        </div>
        {% else %}&nbsp;{% endif %}
      </div>
      <div class="two columns align-right">
        {% if acc_active_domain %}
        <ul>
          <li class="has-sub">
            <a href=""><strong>{{ acc_active_domain.domain }}</strong> <i class="icon-head"></i></a>
            <ul class="subnav">
              {% for domain in acc_domains %}
              {% if domain.domain != acc_active_domain.domain %}
              <li><a href="/switch/{{ domain.domain }}"><strong>{{ domain.domain }}</strong></a></li>
              {% endif %}
              {% endfor %}
              <li class="separator"></li>
              <li><a href="/settings">Domain Settings</a></li>
              <li><a href="/profile">Profile Settings</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
        {% endif %}
      </div>

    </div>
  </div>
</header>
